.submit_challenge_wrapper{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    background-color: #f7f7f7;
    width: 30vw;
    position: fixed;
    top: 10%;
    z-index: 100;
}
.submit_challenge_wrapper h3{
    text-transform: capitalize;
    text-align: left;
}
.submit_challenge_form{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.submit_challenge_form_control{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.7rem;
}
.submit_challenge_form_control label{
    text-transform: capitalize;
    font-weight: 500;
}
.submit_challenge_form_control input{
    padding: var(--input-padding);
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--primary-lightgrey-color);
    background-color: transparent;
    outline: none;
}
.submit_challege_btn{
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
}
.sumbit_solution_btns{
    width: 140px !important;
}
.submit_challenge_icon{
    font-size: 1.5rem;
    color: var(--dark-grey-color);
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: all ease 0.6s;
}
.submit_challenge_icon:hover{
    color: var(--danger-color);
    font-size: 1.8rem;
}

.cancel-btn{
    border: 1px solid var(--primary-lightgrey-color) !important;
    background-color: transparent !important;
    color: var(--primary-lightgrey-color) !important;
    width: 140px !important;
}
.cancel-btn:hover{
    border: 0px solid var(--primary-lightgrey-color) !important;
    background-color: var(--danger-color) !important;
    color: var( --primary-white-color) !important;
}

.submit_challenge_notes{
    font-size: 0.8rem;
    color: var(--dark-grey-color);
}
.submit_challenge_form_control textarea{
   border: 1px solid var(--primary-lightgrey-color) !important;
    background-color: transparent !important;
    color: var(--dark-grey-color) !important;  
    outline: none;
    padding: 0.9rem;
    border-radius: 0.2rem;
    width: 100% !important;
    box-sizing: border-box;
    height: 100px;
    resize: none;
}
