.login-form-main{
    display: flex;
    gap: 4rem;
    justify-content: center;
    position: relative;
    padding: 6rem 30rem;
    font-family: "Nata Sans", sans-serif;
}
.login-form-wrapper{
  width: 50%;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 2rem;
}
.login-form-wrapper h2{
text-transform: capitalize;
font-weight: 900;
}
.form-control{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
}
.psswd-icon{
    position: absolute;
    top: 2.4rem;
    right: 0.8rem;
    color: #909090;
}
.sf-password{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fpwssd{
    color: #1882bb;
}
.fpwssd:hover{
    text-decoration: underline;
}
.form-control label{
   font-weight: 500;
}
.form-control input{
   outline: none;
   border: 2px solid #e4e4e4;
   padding: 0.6rem 0.8rem;
   border-radius: 0.2rem;
}

.save-passsword{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.login-option-headings p{
    color: #ababab;
    font-size: 0.9rem;
    min-width: 120px;
}
.login-option-headings{
    display: flex;
    align-items: center;
    gap: 0.9rem;
}
.divider{
    width: 100px;
    height: 1.6px;
    background-color: #e4e4e4;
}
.login-form-submit-btn{
    margin: 0.5rem 0;
}
.login-form-submit-btn button {
    width: 100%;
    border: none;
    padding: 0.6rem 0.8rem;
    border-radius: 0.2rem;
    background-color: #4E71FF;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.02rem;
    transition: transform 0.6s ease, background-color 0.6s ease;
    cursor: pointer;
}

.login-form-submit-btn button:hover {
    transform: scale(1.0);
    background-color: #3452cb;
}

.other-login-option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-github-btn-container{
    margin:1.5rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.google-github-btn-container button{
    padding: 0.6rem 0.8rem;
    border-radius: 0.2rem;
    border: 2px solid #e4e4e4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: transform 0.6s ease, background-color 0.6s ease;
}
.google-github-btn-container button:hover{
   background-color: #dbdbdc;
}
.create-account-text{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.create-account-text-link {
    color: #0065F8;
    cursor: pointer;
    font-weight: 500;
}
.create-account-text-link:hover {
    color: #0058db;
}

/* Side Container Styles */
.side-form-container{
    width: 50%;
   background-image: linear-gradient(to top, #b0c2d062 0%, #cccccc62 100%);
    padding: 1.5rem;
    border-radius: 0.2rem;
}
.side-form-container h2{
    line-height: 2rem;
    font-size: 2.2rem;
}
.side-form-styled-text{
 color: #1f5eef; 
 background-image: linear-gradient(45deg, #1f5eef , #9b2723 100%); 
 background-clip: text; 
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
}
.challenges-count  {
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 0.4rem;
   margin-top: 2.3rem;
   margin-bottom: 1.9rem;
}
.challenges-count h3 {
   display: flex;
   flex-direction: column;
   justify-content: left;
   gap: 0.4rem;
   font-size: 1.8rem;
   color: #8e8e8e;
}
.challenges-count h3 span{
    font-weight: 400;
    font-size: 0.9rem;
    color: #5d5d5d;
}
.side-form-btn-container{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: linear-gradient(to top, #b0c2d062 0%, #cccccc62 100%);
    border-radius: 0.2rem;
}
.side-form-btn-container p{
    color: #4f4f4f;
}
.side-form-btn-container button{
    width: 100%;
    border: none;
    padding: 0.8rem 0.8rem;
    border-radius: 0.2rem;
    text-transform: capitalize;
    font-weight: 500;
    color: #343434;
    letter-spacing: 1px;
    font-size: 0.8rem; 
    transition: transform 0.6s ease, background-color 0.6s ease;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.side-form-btn-container button:hover{
     background-color: #3452cb;
     color: #f5f5f5;
}

.reset-psswd-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
  .login-form-main{
    flex-direction: column-reverse;
}
.login-form-wrapper{
  width: unset;
}
.side-form-container{
    width: unset;
}
.side-form-container{
background-image: linear-gradient(to top, #209bff63 0%, #00211d7e 100%);
}
.reset-psswd-container {
    top: 12%;
}
.side-form-btn-container button{
    background-image: linear-gradient(to right, #d7d2cc47 0%, #3043522d 100%);
}
.side-form-btn-container{
    background-image: linear-gradient(to right, #d7d2cc23 0%, #30435228 100%);
}
}

@media (min-width: 768px) and (max-width: 1023px) {
   .login-form-main{
    flex-direction: column-reverse;
}
.login-form-wrapper{
  width: unset;
}
.side-form-container{
    width: unset;
    background-image: linear-gradient(to right, #0acffe 0%, #0f21bc 100%);
}
.reset-psswd-container {
    top: 10%;
}
}