.small-card {
  background-color: var(--small-card-bg-color);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20.3vw;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
}

.small-card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.small-card-specification-text {
  background-color: rgba(27, 27, 34, 0.149);
  width: fit-content;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 2rem;
  padding: 0.3rem 0.6rem;
  color: var(--primary-white-color);
}

.small-card h3 {
  color: var(--primary-white-color);
  text-align: center;
  font-size: 1.1rem;
}

.small-card p {
  color: var(--primary-lightgrey-color);
  font-size: var(--small-text-size);
  text-align: center;
}

.small-card-icon {
  font-size: 2rem;
  background-color: rgba(24, 71, 72, 0.14);
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  color: var(--primary-lightgrey-color);
  margin-bottom: 1rem;
}

.course-card {
  background-color: #003523cb !important;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  width: 20.3vw;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: transform 0.6s ease;
}

.course-card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.course-card p,
.course-card ul li {
  font-size: var(--small-text-size);
  color: var(--primary-lightgrey-color);
}

.course-card ul {
  text-decoration: none;
  list-style: none;
  text-align: left;
  margin: var(--inside-cards-spacing);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.9rem;
}

.course-card ul li {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.course-btn-container {
  margin-top: 0.8rem;
  width: 100%;
}

.course-btn-container button {
  width: 100%;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 0.2rem;
  background-color: #117554;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.8rem;
  transition: transform 0.6s ease, background-color 0.6s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.course-btn-container button:hover {
  transform: scale(1.0);
  background-color: #086042;
}

.course-btn {
  width: 100% !important;
}

.list-icon {
  font-size: 0.4rem;
  color: #008f40;
}

.course-tag {
  width: fit-content;
  background-color: rgba(27, 27, 34, 0.666);
  border-radius: 2rem;
  padding: 0.1rem 0.5rem;
  color: var(--primary-lightgrey-color);
  font-weight: 600;
  font-size: 0.7rem;
}

.course-tag-headings {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.course-tag-headings-icon {
  color: #005f8f;
  font-size: var(--medium-icon-size);
}

.course-duration-wrapper {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.course-duration {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}


/* Recent Cards Container Styles */
.recent_card_wrapper {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 0.4rem;
  background-color: #0d116405;
  width: 55vw;
  padding: var(--lg-padding);
}

.recent_card_headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent_card_link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-color);
  font-weight: 500;
  text-transform: capitalize;
  font-size: var(--toogle-btn-text-size);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.recent_card_link:hover {
  color: var(--berry-color);
  transform: translateY(-2px);
}

.recent_card_link_icon {
  font-size: 1.5rem;
}

.recent_card_content_wrapper {
  margin-top: var(--md-margin-top);
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.recent_activity_card_icon {
  font-size: var(--medium-icon-size);
  color: var(--header-bg-color);
}

.recent_activity_card_content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recent_activity_card_content_headings h4 {
  font-size: 1rem;
}

.recent_activity_card_content_headings p {
  font-size: var(--sm-text-size);
  font-weight: 500;
  color: var(--dim-dark-grey-color);
}

.recent_activity_card {
  background-color: #fafafa89;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent_activity_ld {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}

.recent_activity_ld_date {
  font-size: var(--sm-text-size);
  font-weight: 500;
  color: var(--dim-dark-grey-color);
}

.recent_activity_ld_level {
  text-transform: capitalize;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #008f401f;
  padding: 0.3rem 0.5rem;
  border-radius: var(--border-radius-lg);
  color: var(--greencolor);
}

@media only screen and (max-width: 600px) {
  .small-card {
    width: 100%;
    box-sizing: border-box;
  }

  .small-card:hover {
    transform: scale(1.0);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .small-card {
    width: 40.1vw;
    box-sizing: border-box;
  }
}