.home_intro_section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    background-color: var(--header-bg-color);
    color: var(--primary-lightgrey-color);
}
.home_intro_section h1{
font-size: 2.8rem;
text-align: center;
width: 50vw;
 color: var(--primary-lightgrey-color);
}
.home_intro_span{
 color: var(--gold-bg) !important;
}
.home_intro_section p{
font-size: 1.2rem;
text-align: center;
width: 50vw;
margin-top: 1rem;
}

.home_intro_btns{
    margin-top: var(--column-gap);
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.home_intro_solid_btn{
    background-color: var(--primary-lightgrey-color) !important;
    color: var(--primary-color) !important;
     min-width: 180px !important;
}
.home_intro_solid_btn:hover{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.home_intro_outline_btn{
    background-color: transparent !important;
    border: 1px solid var(--primary-lightgrey-color) !important;
     min-width: 180px !important;
}
.home_intro_outline_btn:hover{
    background-color: var(--primary-lightgrey-color) !important;
     color: var(--primary-color) !important;
}

.home_intro_abt{
    margin-top: var(--section-medium-margin-top);
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: space-between;
}
.home_intro_abt_card{
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.home_intro_abt_card h3{
   display: flex;
   align-items: center;
}
.home_intro_abt_card p{
    width: 120px;
    font-size: var(--toogle-btn-text-size);
    margin-top: 0;
    text-align: left;
}

/* home_everything_you_need */
.home_everything_you_need{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
.home_intro_section{
    padding: 1.5rem;
    padding-bottom: 3rem;
}
.home_intro_section h1{
font-size: 2.2rem;
width: 100%;
}
.home_intro_section p{
font-size: 1.23rem;
text-align: center;
width: 100%;
}
.home_intro_btns{
    flex-direction: column;
}
.home_intro_solid_btn{
     min-width: 80vw !important;
}
.home_intro_outline_btn{
     min-width: 80vw !important;
}
.home_intro_abt{
    width: 100%;
    justify-content: space-between !important;
    align-items: center;
}
.home_intro_abt_card-last{
    width:80px;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.home_intro_abt_card h3{
 font-size: 1.1rem;
}
.home_intro_abt_card p{
  font-size: 0.7rem;
  text-align: left;
  width: 100px;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
.home_intro_section h1{
width: 87vw;
}
.home_intro_section p{
width: 87vw;
}
.home_intro_abt{
 width: 70vw;
}
}