.settings_container{
display: flex;
flex-direction: column;
gap: 1.7rem !important;
padding: var( --desktop-section-padding);
}

.account{
      background: var(--card-background);
  border: 1px solid var(--card-border-color);
  border-radius: var(--card-radius);
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: var(--column-gap);
}

.account_content{
display: flex;
flex-direction: column;
gap: var(--xsm-gap);
}
.account_content label{
font-weight: 500;
font-size: var(--sm-text-size);
color: var(--greyish-color);
}
.account_content input{
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border: 1px solid var(--card-border-color);
    background-color: transparent;
    color: var(--greyish-color) !important;
}
::placeholder{
    color: var(--greyish-color) !important;
}
.settings_title h2{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--whitish-color);
}
.settings_title p{
    color: var(--greyish-color);
    font-size: var(--sm-text-size);
}
.settings_icon{
    color: var(--primary-color);
}
.account_title{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.account_title span{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: var(--primary-color-bg);
    color: var(--primary-color);
    padding: var(--icon-padding);
    border-radius: var(--border-radius);
}
.account_title_content h4{
    color: var(--whitish-color);
}
.account_title_content p{
    font-size: var(--sm-text-size);
    color: var(--greyish-color);
}
.account_password_input_container{
    display: flex;
    align-items: center;
    gap: var(--sm-column-gap);
    position: relative;
}
.account_password_input_container button{
    min-width: 100px;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    background-color: var(--primary-color);
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1rem;
    transition: transform 0.6s ease, background-color 0.6s ease;
    cursor: pointer;
    font-family: "Nata Sans", sans-serif;
}
.account_password_input_container button:hover {
    transform: scale(1.0);
    background-color: #3452cb;
}

.account_password_input{
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border: 1px solid var(--disabled-input-border-color) !important;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
}

.account_border{
    border-top: 2px solid var(--card-border-color);;
    padding-top: 1.2rem;
}
.p_icon{
    position: absolute;
    right: 8.2rem;
    cursor: pointer;
}
.hide_eye_icon{
    color: var(--dark-grey-color);
}
.open_eye_icon{
    color: var(--primary-color);
}
.delete_account{
    border: 1px solid var(--border-danger-color);
}
.account_sub_title h4{
    font-weight: 500;
    font-size: var(--sm-text-size);
}
.email_notify{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email_notification_title{
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--greyish-color);
}
.toggle_icon{
    font-size: 2rem;
    cursor: pointer;
}
.toggle_outline{
    color: var(--greyish-color);
}
.toggle_solid{
    color: var(--primary-color);
}
.delete_title_icon span{
    background-color: var(--op-danger-color);
    color: var(--danger-color);
}