.text-input-container input {
  padding:0.7rem 1rem;
   background: var(--bg-black);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 0.5rem;
  color: var(--whitish-color);
  font-size: var(--small-text-size);
  outline: none;
  transition: 0.2s ease;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-left: 2rem;
  font-weight: 500;
  background-color: transparent !important;
}

.custom-input-icon {
  color: #323567;
  position: absolute;
  bottom: 0.7rem;
  left: 0.7rem;
  
}

.custom-input-label {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 0.9rem;
  color: var(--greyish-color);
}
.secondary_input{
  padding:0.7rem 1rem;
   background: var(--bg-black);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 0.5rem;
  color: var(--whitish-color);
  font-size: var(--small-text-size);

  outline: none;
  transition: 0.2s ease;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font-weight: 500;
  background-color: transparent !important; 
}
.textarea_wrapper textarea{
  outline: none;
  border: 1px solid #b8c3c7;
  padding: 0.7rem 0.8rem;
  border-radius: 0.2rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font-weight: 500;
  background-color: transparent !important; 
  resize: none;
  min-height: 100px;
}