.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--navbar-padding);
  background: var(--bg-black);
  color: var(--primary-white-color);
}

/* LEFT */
.nav_left {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo_icon {
  background: var(--purple-bg);
  padding: 7px;
  border-radius: var(--icon-radius);
  font-weight: bold;
  font-size: var(--icon-font-size);
}

.logo h2 {
  font-size: var(--logo-font-size);
  font-weight: 600;
  color: var(--whitish-color);
  margin-bottom: -0.4rem;
}

.logo span {
  color: var(--purple-color);
}

/* LINKS */
.nav_links {
  display: flex;
  gap: 28px;
  list-style: none;
  align-items: center;
}

.nav_links a {
  text-decoration: none;
  color: var(--greyish-color);
  font-weight: 400;
  transition: 0.2s;
}

.nav_links a:hover {
  color: var(--primary-white-color);
}

/* PREMIUM */
.premium {
  color: var(--premium-color);
  font-weight: 500;
  cursor: pointer;
}

/* RIGHT */
.nav_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* SIGN IN */
.signin {
  color: var(--greyish-color);
  cursor: pointer;
}

.signin:hover {
  color: var(--primary-white-color);
}



/* ICONS */
.nav_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 20px;
  color: var(--greyish-color);
  cursor: pointer;
}

.icon:hover {
  color: var(--primary-white-color);
}

/* NOTIFICATION */
.notify_wrapper {
  position: relative;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: var(--purple-color);
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

.notification_dropdown {
  position: absolute;
  top: 40px;
  right: 0;
}

/* PROFILE DROPDOWN */
.profile_wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: #111827;
  padding: 12px;
  border-radius: 8px;
  width: 180px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.dropdown .user {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--purple-color);
}

.dropdown span {
  display: block;
  padding: 6px 0;
  cursor: pointer;
  color: var(--whitish-color);
}

.dropdown span:hover {
  color: var(--primary-white-color);
}

.dropdown button {
  margin-top: 10px;
  width: 100%;
  background: #1f2937;
  border: none;
  padding: 8px;
  border-radius: 6px;
  color: var(--primary-white-color);
  cursor: pointer;
}

.dropdown button:hover {
  background: var(--danger-color);
}


@media (min-width: 1554px) {
 body{
    background-color: red !important;
  } 
  .navbar {
  padding: var( --desktop-navbar-padding);
}
}