.nav-wrapper {
  background-color: var(--header-bg-color);
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  background-color: #E9E9E9;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.navbar_profile_icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--dark-grey-color);
  background-color: #d4d4d462;
  padding: 0.4rem;
  border-radius: 3rem;
  transition: all 0.6s;
}

.navbar_profile_icon:hover {
  color: var(--primary-color);
}

.mode-signin-container {
  width: 130px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.mode-switch-icon {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.3rem;
  display: none;
}

.mode-switch-icon:hover {
  transform: scale(1.2);
}

.logo-container img {
  display: block;
  width: 70px;
  cursor: pointer;
}

.mode-switch-container {
  position: absolute;
  top: 4rem;
  right: 7rem;
}

.navbar-login-btn-container {
  display: flex;
  align-items: center;
}

/* SUBNAVBAR STYLES */
.sub-navbar-container {
  padding: 1.5rem 1.6rem;
  display: flex;
  align-items: end;
  justify-content: end;
}

.sub-navbar-container ul {
  display: flex;
  align-items: center;
  gap: 1.9rem;
  list-style: none;
}

.sub-navbar-container ul a {
  text-decoration: none;
  color: var(--primary-lightgrey-color);
  transition: color 0.6s ease;
  font-weight: 500;
}

.sub-navbar-container ul a:hover {
  color: var(--primary-color);
}


.sub-navbar-container ul .active-link {
  color: var(--primary-color);
}

.logout_dropdown {
  background-color: var(--toggle-bg);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 1.2rem;
  position: absolute;
  top: 2.2rem;
  left: -9rem;
  width: fit-content;
  border-radius: 0.3rem;
}

.name {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: var(--header-bg-color);
  border-bottom: 1px solid var(--primary-lightgrey-color);
  padding-bottom: 0.6rem;
}

.settings {
  font-weight: 500;
  font-size: var(--toogle-btn-text-size);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: all 0.6s;
}

.settings:hover {
  color: var(--primary-color);

}

.navbar-profile-container {
  position: relative;
}

.logout_btn {
  margin-top: 0.7rem;
  border-radius: 0.4rem;
  text-transform: capitalize;
  font-size: var(--toogle-btn-text-size);
  width: 100%;
  font-weight: 500;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border: none;
  background-color: transparent;
  transition: all 0.6s;
  cursor: pointer;
}


.logout_btn:hover {
  padding: 0.5rem 0.9rem;
  background-color: var(--danger-color);
  color: var(--primary-white-color);
}

@media only screen and (max-width: 600px) {
  .sub-navbar-container {
    justify-content: center;
  }
}