.primary-btn-container button {
    width: 100%;
    min-width: 100px;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    background-color: var(--primary-color);
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1rem;
    transition: transform 0.6s ease, background-color 0.6s ease;
    cursor: pointer;
    font-family: "Nata Sans", sans-serif;
}

.primary-btn-container button:hover {
    transform: scale(1.0);
    background-color: #3452cb;
}

.global_action_btn button{
 background-color: transparent;
 padding: 0.5rem 0.8rem;
 border-radius: 0.2rem;
 font-family: inherit;
 font-weight: 500;
 cursor: pointer;
  transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}
.edit_btn{
 color: var(--primary-color);
border: 1px solid var(--primary-color);
display: flex;
align-items: center;
gap: 0.5rem;
}
.edit_btn:hover{
 color: var(--primary-white-color);
border: 1px solid var(--primary-color);
background-color: var(--primary-color);
}
.cancel_btn{
 color: var(--danger-color);
border: 1px solid var(--danger-color);
}
.cancel_btn:hover{
 color: var(--primary-white-color);
border: 1px solid var(--danger-color);
background-color: var(--danger-color);
}

.delete_btn{
    min-width: 100px;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    background-color: var(--danger-color);
    text-transform: capitalize;
    font-weight: 500;
    color: var(--primary-white-color);
    letter-spacing: 1px;
    font-size: 1rem;
    transition: transform 0.6s ease, background-color 0.6s ease;
    cursor: pointer;
    font-family: "Nata Sans", sans-serif; 
    display: flex; 
    align-items: center;
    gap: var(--xsm-gap);
}
.delete_btn:hover{
    background-color: var(--hover-danger-color);
}

.outline_btn {
    background-color: transparent !important;
    border: 1px solid var(--primary-color) !important;
    min-width: 180px !important;
    width: 100% !important;
    color: var(--primary-color) !important;
    padding: 0.4rem 1rem !important;
}
.outline_btn:hover {
    background-color: var(--primary-color) !important;
    color: var(--primary-white-color) !important;
}

/* CTA */
.cta {
  background: var(--purple-bg);
  border: none;
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  color: var(--primary-white-color);
  font-weight: 500;
  cursor: pointer;
}