.challenges_main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--section-padding);
  text-align: center;
}



.custom_card_container_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom_card_container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.level_badge {
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  display: inline-block;
}
.challenges_page {
  background: #f8fafc;
  min-height: 100vh;
  padding: 3rem 1.5rem;
  text-align: center;
}

/* HEADER */
.challenges_header h1 {
  font-size: var(--heading-text);
  font-weight: 700;
  color: var(--whitish-color);
}

.subtitle {
  margin-top: 0.8rem;
  font-size: 1.1rem;
  color: var(--greyish-color);
}

.count {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: var(--whitish-color);
}

/* FILTER CONTAINER */
.filter_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
   background: var(--card-background);
  border: 1px solid rgba(255,255,255,0.08);
  padding: 1.5rem;
  border-radius: var(--card-radius);
  margin-top: 2rem;
  width: 80%;
}


/* INPUT + SELECT SHARED STYLE */
.filter_input,
.filter_select {
  width: 36%;
}

.filter_select {
  min-width: 200px;
}
.filter_input,
.filter_select {
  padding:0.7rem 1rem;
   background: var(--bg-black);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 0.5rem;
  color: var(--whitish-color);
  font-size: var(--small-text-size);

  outline: none;
  transition: 0.2s ease;
}

/* FOCUS STATE */
.filter_input:focus,
.filter_select:focus {
  border-color: var(--purple-color);
  background: transparent;
}
.filter_select option{
  background-color:#0A0F1B !important;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: var(--card-radius);
}


@media only screen and (min-width: 1544px) {
 .custom_card_container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: left;
}
.challenges_main_wrapper{
    width: var(--container-width-xl);
    margin: 4rem auto;
}
.search_bar_input {
  min-width: 56vw;
}
.filter_container {
  width: 96%;
}
.filter_input,
.filter_select {
  width: 49%;
}
.filter_select {
  min-width: 240px;
}
}