.all_solution_wrapper{
    width: var(--container2-width);
    margin: 4rem auto;
}
.all_solution_container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.all_solution_content_container_title{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    box-sizing: border-box;
}
.all_solution_content_container_title h2{
display: flex;
align-items: center;
gap: 0.5rem;
color: var(--whitish-color);
font-size: 1.4rem;
}
.all_solution_content_container_title p{
color: var(--greyish-color);
}
.users{
    color: var(--whitish-color);
}
.solution_search_bar{
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 76vw;
}
.solution_search_input{
    width: 100% !important;
    box-sizing: border-box;
}
.solution_bar{
    width: 100% !important;
}

@media only screen and (min-width: 1544px) {
.all_solution_wrapper{
    width: var(--container-width-xl);
}
}